@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #111;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

/* Caixas do relógio */
#horas, #minutos, #segundos {
    text-align: center;
}

/* Apenas os números */
#horas span,
#minutos span,
#segundos span {
    font-size: 3rem;
    font-weight: 700;
    background: #222;
    padding: 15px 25px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Texto embaixo */
#horas::after,
#minutos::after,
#segundos::after {
    display: block;
    margin-top: 8px;
    font-size: 0.9rem;
    color: #aaa;
}

#horas::after {
    content: "HORAS";
}

#minutos::after {
    content: "MINUTOS";
}

#segundos::after {
    content: "SEGUNDOS";
}
